:root {
    --c: rgb(251, 229, 180);
    --c: rgb(247, 205, 148);
    --c: rgb(231, 175, 123);
    --c: rgb(228, 169, 112);
    --c: rgb(218, 152, 107);
    --c: rgb(200, 129, 96);
    --c: rgb(174, 110, 90);
    --c: rgb(153, 98, 87);
    --c: rgb(133, 90, 85);
    --c: rgb(110, 84, 83);
    --c: rgb(94, 76, 85);
    --c: rgb(75, 71, 86);
    --c: rgb(65, 65, 83);
    --c: rgb(54, 60, 82);
    --c: rgb(47, 55, 78);
    --c: rgb(41, 52, 77);
    --c: rgb(38, 49, 77);
    --c: rgb(33, 45, 73);

    --c: hsl(41, 90%, 85%);
    --c: hsl(35, 86%, 77%);
    --c: hsl(29, 69%, 69%);
    --c: hsl(29, 68%, 67%);
    --c: hsl(24, 60%, 64%);
    --c: hsl(19, 49%, 58%);
    --c: hsl(14, 34%, 52%);
    --c: hsl(10, 27%, 47%);
    --c: hsl(6, 22%, 43%);
    --c: hsl(2, 14%, 38%);
    --c: hsl(330, 11%, 33%);
    --c: hsl(256, 10%, 31%);
    --c: hsl(240, 12%, 29%);
    --c: hsl(227, 21%, 27%);
    --c: hsl(225, 25%, 25%);
    --c: hsl(222, 31%, 23%);
    --c: hsl(223, 34%, 23%);
    --c: hsl(222, 38%, 21%);
}