:root {
    --clr-1: #f93; 
    --clr-2: #9f3; 
    --clr-3: #3f9; 
    --clr-4: #39f; 
    --clr-5: #93f; 
    --clr-6: #f39; 

    --clr-1: #f93; 
    --clr-2: #9f3; 
    --clr-3: #3f9; 
    --clr-4: #39f; 
    --clr-5: #93f; 
    --clr-6: #f39; 
}

