header {
    position: fixed;
    top: 0;
    z-index: 9;
    justify-content: end;
    box-shadow: 0 0 0 transparent;
}
header .title {padding-right: 12px; user-select: none;}
.backLink {user-select: none;}
main, .shelf {position: static;}
[id*="canvas"] {
    position: absolute;
    inset: 0;
    background-color: #000;
    /* height: 100vh; width: 100vw; */
    height: 100%; width: 100%;
    /* height: 695px; width: 960px; */
}