:root {
    /* [Raw Hex] */
    --clr: #fffbac;
    --clr: #f8b47d;

    --clr: #467070;
    --clr: #3d6665;
    --clr: #376265;
    --clr: #547770;
    --clr: #3b5452;
    --clr: #3b4e4b;
    --clr: #3c6566;
    --clr: #35494a;

    --clr: #5c6a5c;
    --clr: #5b6153;
    --clr: #637265;

    --clr: #615242;
    --clr: #615141;

    /* [HSL] */
    --clr: hsl(57, 100%, 84%);
    --clr: hsl(27, 90%, 73%);

    /* h: 168 to 184, s: 14% to 29%, l: 25% to 40% */
    --clr: hsl(184, 29%, 31%);
    --clr: hsl(183, 17%, 25%);
    --clr: hsl(180, 23%, 36%);
    --clr: hsl(181, 26%, 32%);
    --clr: hsl(179, 25%, 32%);
    --clr: hsl(175, 17%, 28%);
    --clr: hsl(171, 14%, 27%);
    --clr: hsl(168, 17%, 40%);

    --clr: hsl(120, 7%, 39%);
    --clr: hsl(86, 8%, 35%);
    --clr: hsl(128, 7%, 42%);

    --clr: hsl(31, 19%, 32%);
    --clr: hsl(30, 20%, 32%);

    /* Forms */
    --clr: hsl(184, 50%, 50%);
    --clr: hsl(184, 29%, 40%);
    --clr: hsl(176, 21%, 32%);
    --clr: hsl(168, 14%, 25%);

}