:root {
    /* Ash */
    --c: #efd8ac;
    --c: #ceb280;
    --c: #d7b47e;
    --c: #edd7a8;

    /* Birch */
    --c: #efdbb8;
    --c: #e1cba6;
    --c: #e0ccaa;

    /* Cherry */
    --c: #ca5d41;
    --c: #b64b2b;
    --c: #94341a;
    --c: #781f05;
    --c: #893014;
    --c: #903217;

    /* Mahogany */
    --c: #471115;
    --c: #682826;
    --c: #410c10;
    --c: #3d0b0f;
    --c: #5a1f1f;

    /* Maple */
    --c: #f0ce87;
    --c: #d0a554;
    --c: #d7aa61;
    --c: #cea95e;

    /* Oak */
    --c: #cda46e;
    --c: #af864b;
    --c: #8f6424;
    --c: #794c19;
    --c: #b2854c;

    /* Teak */
    --c: #dab476;
    --c: #89622d;

    /* Walnut */
    --c: #4c392f;
    --c: #5c483e;
    --c: #443226;
    --c: #483a2f;
    --c: #453126;
    --c: #513d34;

    /* Pine */
    --c: #eacea8;
    --c: #e6bf92;
    --c: #dcba8e;
    --c: #ddb584;
    --c: #dcb186;
    --c: #efd2a8;

    /* Cedar */
    --c: #c08452;
    --c: #a56b39;
    --c: #b7814f;
    --c: #d19d6a;

    /* ─── HSL ─── */
    /* Ash */
    --c: hsl(39, 68%, 81%);
    --c: hsl(38, 44%, 65%);
    --c: hsl(36, 53%, 67%);
    --c: hsl(41, 66%, 79%);

    /* Birch */
    --c: hsl(38, 63%, 83%);
    --c: hsl(38, 50%, 77%);
    --c: hsl(38, 47%, 77%);

    /* Cherry */
    --c: hsl(12, 56%, 52%);
    --c: hsl(14, 62%, 44%);
    --c: hsl(13, 70%, 34%);
    --c: hsl(14, 92%, 25%);
    --c: hsl(14, 75%, 31%);
    --c: hsl(13, 72%, 33%);

    /* Mahogany */
    --c: hsl(356, 61%, 17%);
    --c: hsl(2, 46%, 28%);
    --c: hsl(355, 69%, 15%);
    --c: hsl(355, 69%, 14%);
    --c: hsl(0, 49%, 24%);

    /* Maple */
    --c: hsl(41, 78%, 74%);
    --c: hsl(39, 57%, 57%);
    --c: hsl(37, 60%, 61%);
    --c: hsl(40, 53%, 59%);

    /* Oak */
    --c: hsl(34, 49%, 62%);
    --c: hsl(35, 40%, 49%);
    --c: hsl(36, 60%, 35%);
    --c: hsl(32, 66%, 29%);
    --c: hsl(34, 40%, 50%);

    /* Teak */
    --c: hsl(37, 57%, 66%);
    --c: hsl(35, 51%, 36%);

    /* Walnut */
    --c: hsl(21, 24%, 24%);
    --c: hsl(20, 19%, 30%);
    --c: hsl(24, 28%, 21%);
    --c: hsl(26, 21%, 23%);
    --c: hsl(21, 29%, 21%);
    --c: hsl(19, 22%, 26%);

    /* Pine */
    --c: hsl(35, 61%, 79%);
    --c: hsl(32, 63%, 74%);
    --c: hsl(34, 53%, 71%);
    --c: hsl(33, 57%, 69%);
    --c: hsl(30, 55%, 69%);
    --c: hsl(35, 69%, 80%);

    /* Cedar */
    --c: hsl(27, 47%, 54%);
    --c: hsl(28, 49%, 44%);
    --c: hsl(29, 42%, 51%);
    --c: hsl(30, 53%, 62%);
}