/* Iteration */
*:nth-of-type(1) {--i: 1;}
*:nth-of-type(2) {--i: 2;}
*:nth-of-type(3) {--i: 3;}
*:nth-of-type(4) {--i: 4;}
*:nth-of-type(5) {--i: 5;}
*:nth-of-type(6) {--i: 6;}
*:nth-of-type(7) {--i: 7;}
*:nth-of-type(8) {--i: 8;}
*:nth-of-type(9) {--i: 9;}
*:nth-of-type(10) {--i: 10;}
*:nth-of-type(11) {--i: 11;}
*:nth-of-type(12) {--i: 12;}
*:nth-of-type(13) {--i: 13;}
*:nth-of-type(14) {--i: 14;}
*:nth-of-type(15) {--i: 15;}
*:nth-of-type(16) {--i: 16;}
*:nth-of-type(17) {--i: 17;}
*:nth-of-type(18) {--i: 18;}
*:nth-of-type(19) {--i: 19;}
*:nth-of-type(20) {--i: 20;}
*:nth-of-type(21) {--i: 21;}
*:nth-of-type(22) {--i: 22;}
*:nth-of-type(23) {--i: 23;}
*:nth-of-type(24) {--i: 24;}
*:nth-of-type(25) {--i: 25;}
*:nth-of-type(26) {--i: 26;}
*:nth-of-type(27) {--i: 27;}
*:nth-of-type(28) {--i: 28;}
*:nth-of-type(29) {--i: 29;}
*:nth-of-type(30) {--i: 30;}
*:nth-of-type(31) {--i: 31;}
*:nth-of-type(32) {--i: 32;}
*:nth-of-type(33) {--i: 33;}
*:nth-of-type(34) {--i: 34;}
*:nth-of-type(35) {--i: 35;}
*:nth-of-type(36) {--i: 36;}
*:nth-of-type(37) {--i: 37;}
*:nth-of-type(38) {--i: 38;}
*:nth-of-type(39) {--i: 39;}
*:nth-of-type(40) {--i: 40;}
*:nth-of-type(41) {--i: 41;}
*:nth-of-type(42) {--i: 42;}
*:nth-of-type(43) {--i: 43;}
*:nth-of-type(44) {--i: 44;}
*:nth-of-type(45) {--i: 45;}
*:nth-of-type(46) {--i: 46;}
*:nth-of-type(47) {--i: 47;}
*:nth-of-type(48) {--i: 48;}
*:nth-of-type(49) {--i: 49;}
*:nth-of-type(50) {--i: 50;}
*:nth-of-type(51) {--i: 51;}
*:nth-of-type(52) {--i: 52;}
*:nth-of-type(53) {--i: 53;}
*:nth-of-type(54) {--i: 54;}
*:nth-of-type(55) {--i: 55;}
*:nth-of-type(56) {--i: 56;}
*:nth-of-type(57) {--i: 57;}
*:nth-of-type(58) {--i: 58;}
*:nth-of-type(59) {--i: 59;}
*:nth-of-type(60) {--i: 60;}
*:nth-of-type(61) {--i: 61;}
*:nth-of-type(62) {--i: 62;}
*:nth-of-type(63) {--i: 63;}
*:nth-of-type(64) {--i: 64;}
*:nth-of-type(65) {--i: 65;}
*:nth-of-type(66) {--i: 66;}
*:nth-of-type(67) {--i: 67;}
*:nth-of-type(68) {--i: 68;}
*:nth-of-type(69) {--i: 69;}
*:nth-of-type(70) {--i: 70;}
*:nth-of-type(71) {--i: 71;}
*:nth-of-type(72) {--i: 72;}
*:nth-of-type(73) {--i: 73;}
*:nth-of-type(74) {--i: 74;}
*:nth-of-type(75) {--i: 75;}
*:nth-of-type(76) {--i: 76;}
*:nth-of-type(77) {--i: 77;}
*:nth-of-type(78) {--i: 78;}
*:nth-of-type(79) {--i: 79;}
*:nth-of-type(80) {--i: 80;}
*:nth-of-type(81) {--i: 81;}
*:nth-of-type(82) {--i: 82;}
*:nth-of-type(83) {--i: 83;}
*:nth-of-type(84) {--i: 84;}
*:nth-of-type(85) {--i: 85;}
*:nth-of-type(86) {--i: 86;}
*:nth-of-type(87) {--i: 87;}
*:nth-of-type(88) {--i: 88;}
*:nth-of-type(89) {--i: 89;}
*:nth-of-type(90) {--i: 90;}
*:nth-of-type(91) {--i: 91;}
*:nth-of-type(92) {--i: 92;}
*:nth-of-type(93) {--i: 93;}
*:nth-of-type(94) {--i: 94;}
*:nth-of-type(95) {--i: 95;}
*:nth-of-type(96) {--i: 96;}
*:nth-of-type(97) {--i: 97;}
*:nth-of-type(98) {--i: 98;}
*:nth-of-type(99) {--i: 99;}
*:nth-of-type(100) {--i: 100;}

*:nth-of-type(101) {--i: 101;}
*:nth-of-type(102) {--i: 102;}
*:nth-of-type(103) {--i: 103;}
*:nth-of-type(104) {--i: 104;}
*:nth-of-type(105) {--i: 105;}
*:nth-of-type(106) {--i: 106;}
*:nth-of-type(107) {--i: 107;}
*:nth-of-type(108) {--i: 108;}
*:nth-of-type(109) {--i: 109;}
*:nth-of-type(110) {--i: 110;}
*:nth-of-type(111) {--i: 111;}
*:nth-of-type(112) {--i: 112;}
*:nth-of-type(113) {--i: 113;}
*:nth-of-type(114) {--i: 114;}
*:nth-of-type(115) {--i: 115;}
*:nth-of-type(116) {--i: 116;}
*:nth-of-type(117) {--i: 117;}
*:nth-of-type(118) {--i: 118;}
*:nth-of-type(119) {--i: 119;}
*:nth-of-type(120) {--i: 120;}
*:nth-of-type(121) {--i: 121;}
*:nth-of-type(122) {--i: 122;}
*:nth-of-type(123) {--i: 123;}
*:nth-of-type(124) {--i: 124;}
*:nth-of-type(125) {--i: 125;}
*:nth-of-type(126) {--i: 126;}
*:nth-of-type(127) {--i: 127;}
*:nth-of-type(128) {--i: 128;}
*:nth-of-type(129) {--i: 129;}
*:nth-of-type(130) {--i: 130;}
*:nth-of-type(131) {--i: 131;}
*:nth-of-type(132) {--i: 132;}
*:nth-of-type(133) {--i: 133;}
*:nth-of-type(134) {--i: 134;}
*:nth-of-type(135) {--i: 135;}
*:nth-of-type(136) {--i: 136;}
*:nth-of-type(137) {--i: 137;}
*:nth-of-type(138) {--i: 138;}
*:nth-of-type(139) {--i: 139;}
*:nth-of-type(140) {--i: 140;}
*:nth-of-type(141) {--i: 141;}
*:nth-of-type(142) {--i: 142;}
*:nth-of-type(143) {--i: 143;}
*:nth-of-type(144) {--i: 144;}
*:nth-of-type(145) {--i: 145;}
*:nth-of-type(146) {--i: 146;}
*:nth-of-type(147) {--i: 147;}
*:nth-of-type(148) {--i: 148;}
*:nth-of-type(149) {--i: 149;}
*:nth-of-type(150) {--i: 150;}
*:nth-of-type(151) {--i: 151;}
*:nth-of-type(152) {--i: 152;}
*:nth-of-type(153) {--i: 153;}
*:nth-of-type(154) {--i: 154;}
*:nth-of-type(155) {--i: 155;}
*:nth-of-type(156) {--i: 156;}
*:nth-of-type(157) {--i: 157;}
*:nth-of-type(158) {--i: 158;}
*:nth-of-type(159) {--i: 159;}
*:nth-of-type(160) {--i: 160;}
*:nth-of-type(161) {--i: 161;}
*:nth-of-type(162) {--i: 162;}
*:nth-of-type(163) {--i: 163;}
*:nth-of-type(164) {--i: 164;}
*:nth-of-type(165) {--i: 165;}
*:nth-of-type(166) {--i: 166;}
*:nth-of-type(167) {--i: 167;}
*:nth-of-type(168) {--i: 168;}
*:nth-of-type(169) {--i: 169;}
*:nth-of-type(170) {--i: 170;}
*:nth-of-type(171) {--i: 171;}
*:nth-of-type(172) {--i: 172;}
*:nth-of-type(173) {--i: 173;}
*:nth-of-type(174) {--i: 174;}
*:nth-of-type(175) {--i: 175;}
*:nth-of-type(176) {--i: 176;}
*:nth-of-type(177) {--i: 177;}
*:nth-of-type(178) {--i: 178;}
*:nth-of-type(179) {--i: 179;}
*:nth-of-type(180) {--i: 180;}
*:nth-of-type(181) {--i: 181;}
*:nth-of-type(182) {--i: 182;}
*:nth-of-type(183) {--i: 183;}
*:nth-of-type(184) {--i: 184;}
*:nth-of-type(185) {--i: 185;}
*:nth-of-type(186) {--i: 186;}
*:nth-of-type(187) {--i: 187;}
*:nth-of-type(188) {--i: 188;}
*:nth-of-type(189) {--i: 189;}
*:nth-of-type(190) {--i: 190;}
*:nth-of-type(191) {--i: 191;}
*:nth-of-type(192) {--i: 192;}
*:nth-of-type(193) {--i: 193;}
*:nth-of-type(194) {--i: 194;}
*:nth-of-type(195) {--i: 195;}
*:nth-of-type(196) {--i: 196;}
*:nth-of-type(197) {--i: 197;}
*:nth-of-type(198) {--i: 198;}
*:nth-of-type(199) {--i: 199;}
*:nth-of-type(200) {--i: 200;}
*:nth-of-type(201) {--i: 201;}
*:nth-of-type(202) {--i: 202;}
*:nth-of-type(203) {--i: 203;}
*:nth-of-type(204) {--i: 204;}
*:nth-of-type(205) {--i: 205;}
*:nth-of-type(206) {--i: 206;}
*:nth-of-type(207) {--i: 207;}
*:nth-of-type(208) {--i: 208;}
*:nth-of-type(209) {--i: 209;}
*:nth-of-type(210) {--i: 210;}
*:nth-of-type(211) {--i: 211;}
*:nth-of-type(212) {--i: 212;}
*:nth-of-type(213) {--i: 213;}
*:nth-of-type(214) {--i: 214;}
*:nth-of-type(215) {--i: 215;}
*:nth-of-type(216) {--i: 216;}
*:nth-of-type(217) {--i: 217;}
*:nth-of-type(218) {--i: 218;}
*:nth-of-type(219) {--i: 219;}
*:nth-of-type(220) {--i: 220;}
*:nth-of-type(221) {--i: 221;}
*:nth-of-type(222) {--i: 222;}
*:nth-of-type(223) {--i: 223;}
*:nth-of-type(224) {--i: 224;}
*:nth-of-type(225) {--i: 225;}
*:nth-of-type(226) {--i: 226;}
*:nth-of-type(227) {--i: 227;}
*:nth-of-type(228) {--i: 228;}
*:nth-of-type(229) {--i: 229;}
*:nth-of-type(230) {--i: 230;}
*:nth-of-type(231) {--i: 231;}
*:nth-of-type(232) {--i: 232;}
*:nth-of-type(233) {--i: 233;}
*:nth-of-type(234) {--i: 234;}
*:nth-of-type(235) {--i: 235;}
*:nth-of-type(236) {--i: 236;}
*:nth-of-type(237) {--i: 237;}
*:nth-of-type(238) {--i: 238;}
*:nth-of-type(239) {--i: 239;}
*:nth-of-type(240) {--i: 240;}
*:nth-of-type(241) {--i: 241;}
*:nth-of-type(242) {--i: 242;}
*:nth-of-type(243) {--i: 243;}
*:nth-of-type(244) {--i: 244;}
*:nth-of-type(245) {--i: 245;}
*:nth-of-type(246) {--i: 246;}
*:nth-of-type(247) {--i: 247;}
*:nth-of-type(248) {--i: 248;}
*:nth-of-type(249) {--i: 249;}
*:nth-of-type(250) {--i: 250;}
*:nth-of-type(251) {--i: 251;}
*:nth-of-type(252) {--i: 252;}
*:nth-of-type(253) {--i: 253;}
*:nth-of-type(254) {--i: 254;}
*:nth-of-type(255) {--i: 255;}
*:nth-of-type(256) {--i: 256;}
*:nth-of-type(257) {--i: 257;}
*:nth-of-type(258) {--i: 258;}
*:nth-of-type(259) {--i: 259;}
*:nth-of-type(260) {--i: 260;}
*:nth-of-type(261) {--i: 261;}
*:nth-of-type(262) {--i: 262;}
*:nth-of-type(263) {--i: 263;}
*:nth-of-type(264) {--i: 264;}
*:nth-of-type(265) {--i: 265;}
*:nth-of-type(266) {--i: 266;}
*:nth-of-type(267) {--i: 267;}
*:nth-of-type(268) {--i: 268;}
*:nth-of-type(269) {--i: 269;}
*:nth-of-type(270) {--i: 270;}
*:nth-of-type(271) {--i: 271;}
*:nth-of-type(272) {--i: 272;}
*:nth-of-type(273) {--i: 273;}
*:nth-of-type(274) {--i: 274;}
*:nth-of-type(275) {--i: 275;}
*:nth-of-type(276) {--i: 276;}
*:nth-of-type(277) {--i: 277;}
*:nth-of-type(278) {--i: 278;}
*:nth-of-type(279) {--i: 279;}
*:nth-of-type(280) {--i: 280;}
*:nth-of-type(281) {--i: 281;}
*:nth-of-type(282) {--i: 282;}
*:nth-of-type(283) {--i: 283;}
*:nth-of-type(284) {--i: 284;}
*:nth-of-type(285) {--i: 285;}
*:nth-of-type(286) {--i: 286;}
*:nth-of-type(287) {--i: 287;}
*:nth-of-type(288) {--i: 288;}
*:nth-of-type(289) {--i: 289;}
*:nth-of-type(290) {--i: 290;}
*:nth-of-type(291) {--i: 291;}
*:nth-of-type(292) {--i: 292;}
*:nth-of-type(293) {--i: 293;}
*:nth-of-type(294) {--i: 294;}
*:nth-of-type(295) {--i: 295;}
*:nth-of-type(296) {--i: 296;}
*:nth-of-type(297) {--i: 297;}
*:nth-of-type(298) {--i: 298;}
*:nth-of-type(299) {--i: 299;}
*:nth-of-type(300) {--i: 300;}
*:nth-of-type(301) {--i: 301;}
*:nth-of-type(302) {--i: 302;}
*:nth-of-type(303) {--i: 303;}
*:nth-of-type(304) {--i: 304;}
*:nth-of-type(305) {--i: 305;}
*:nth-of-type(306) {--i: 306;}
*:nth-of-type(307) {--i: 307;}
*:nth-of-type(308) {--i: 308;}
*:nth-of-type(309) {--i: 309;}
*:nth-of-type(310) {--i: 310;}
*:nth-of-type(311) {--i: 311;}
*:nth-of-type(312) {--i: 312;}
*:nth-of-type(313) {--i: 313;}
*:nth-of-type(314) {--i: 314;}
*:nth-of-type(315) {--i: 315;}
*:nth-of-type(316) {--i: 316;}
*:nth-of-type(317) {--i: 317;}
*:nth-of-type(318) {--i: 318;}
*:nth-of-type(319) {--i: 319;}
*:nth-of-type(320) {--i: 320;}
*:nth-of-type(321) {--i: 321;}
*:nth-of-type(322) {--i: 322;}
*:nth-of-type(323) {--i: 323;}
*:nth-of-type(324) {--i: 324;}
*:nth-of-type(325) {--i: 325;}
*:nth-of-type(326) {--i: 326;}
*:nth-of-type(327) {--i: 327;}
*:nth-of-type(328) {--i: 328;}
*:nth-of-type(329) {--i: 329;}
*:nth-of-type(330) {--i: 330;}
*:nth-of-type(331) {--i: 331;}
*:nth-of-type(332) {--i: 332;}
*:nth-of-type(333) {--i: 333;}
*:nth-of-type(334) {--i: 334;}
*:nth-of-type(335) {--i: 335;}
*:nth-of-type(336) {--i: 336;}
*:nth-of-type(337) {--i: 337;}
*:nth-of-type(338) {--i: 338;}
*:nth-of-type(339) {--i: 339;}
*:nth-of-type(340) {--i: 340;}
*:nth-of-type(341) {--i: 341;}
*:nth-of-type(342) {--i: 342;}
*:nth-of-type(343) {--i: 343;}
*:nth-of-type(344) {--i: 344;}
*:nth-of-type(345) {--i: 345;}
*:nth-of-type(346) {--i: 346;}
*:nth-of-type(347) {--i: 347;}
*:nth-of-type(348) {--i: 348;}
*:nth-of-type(349) {--i: 349;}
*:nth-of-type(350) {--i: 350;}
*:nth-of-type(351) {--i: 351;}
*:nth-of-type(352) {--i: 352;}
*:nth-of-type(353) {--i: 353;}
*:nth-of-type(354) {--i: 354;}
*:nth-of-type(355) {--i: 355;}
*:nth-of-type(356) {--i: 356;}
*:nth-of-type(357) {--i: 357;}
*:nth-of-type(358) {--i: 358;}
*:nth-of-type(359) {--i: 359;}
*:nth-of-type(360) {--i: 360;}
*:nth-of-type(361) {--i: 361;}
*:nth-of-type(362) {--i: 362;}
*:nth-of-type(363) {--i: 363;}
*:nth-of-type(364) {--i: 364;}
*:nth-of-type(365) {--i: 365;}
*:nth-of-type(366) {--i: 366;}
*:nth-of-type(367) {--i: 367;}
*:nth-of-type(368) {--i: 368;}
*:nth-of-type(369) {--i: 369;}
*:nth-of-type(370) {--i: 370;}
*:nth-of-type(371) {--i: 371;}
*:nth-of-type(372) {--i: 372;}
*:nth-of-type(373) {--i: 373;}
*:nth-of-type(374) {--i: 374;}
*:nth-of-type(375) {--i: 375;}
*:nth-of-type(376) {--i: 376;}
*:nth-of-type(377) {--i: 377;}
*:nth-of-type(378) {--i: 378;}
*:nth-of-type(379) {--i: 379;}
*:nth-of-type(380) {--i: 380;}
*:nth-of-type(381) {--i: 381;}
*:nth-of-type(382) {--i: 382;}
*:nth-of-type(383) {--i: 383;}
*:nth-of-type(384) {--i: 384;}
*:nth-of-type(385) {--i: 385;}
*:nth-of-type(386) {--i: 386;}
*:nth-of-type(387) {--i: 387;}
*:nth-of-type(388) {--i: 388;}
*:nth-of-type(389) {--i: 389;}
*:nth-of-type(390) {--i: 390;}
*:nth-of-type(391) {--i: 391;}
*:nth-of-type(392) {--i: 392;}
*:nth-of-type(393) {--i: 393;}
*:nth-of-type(394) {--i: 394;}
*:nth-of-type(395) {--i: 395;}
*:nth-of-type(396) {--i: 396;}
*:nth-of-type(397) {--i: 397;}
*:nth-of-type(398) {--i: 398;}
*:nth-of-type(399) {--i: 399;}
*:nth-of-type(400) {--i: 400;}
*:nth-of-type(401) {--i: 401;}
*:nth-of-type(402) {--i: 402;}
*:nth-of-type(403) {--i: 403;}
*:nth-of-type(404) {--i: 404;}
*:nth-of-type(405) {--i: 405;}
*:nth-of-type(406) {--i: 406;}
*:nth-of-type(407) {--i: 407;}
*:nth-of-type(408) {--i: 408;}
*:nth-of-type(409) {--i: 409;}
*:nth-of-type(410) {--i: 410;}
*:nth-of-type(411) {--i: 411;}
*:nth-of-type(412) {--i: 412;}
*:nth-of-type(413) {--i: 413;}
*:nth-of-type(414) {--i: 414;}
*:nth-of-type(415) {--i: 415;}
*:nth-of-type(416) {--i: 416;}
*:nth-of-type(417) {--i: 417;}
*:nth-of-type(418) {--i: 418;}
*:nth-of-type(419) {--i: 419;}
*:nth-of-type(420) {--i: 420;}
*:nth-of-type(421) {--i: 421;}
*:nth-of-type(422) {--i: 422;}
*:nth-of-type(423) {--i: 423;}
*:nth-of-type(424) {--i: 424;}
*:nth-of-type(425) {--i: 425;}
*:nth-of-type(426) {--i: 426;}
*:nth-of-type(427) {--i: 427;}
*:nth-of-type(428) {--i: 428;}
*:nth-of-type(429) {--i: 429;}
*:nth-of-type(430) {--i: 430;}
*:nth-of-type(431) {--i: 431;}
*:nth-of-type(432) {--i: 432;}
*:nth-of-type(433) {--i: 433;}
*:nth-of-type(434) {--i: 434;}
*:nth-of-type(435) {--i: 435;}
*:nth-of-type(436) {--i: 436;}
*:nth-of-type(437) {--i: 437;}
*:nth-of-type(438) {--i: 438;}
*:nth-of-type(439) {--i: 439;}
*:nth-of-type(440) {--i: 440;}
*:nth-of-type(441) {--i: 441;}
*:nth-of-type(442) {--i: 442;}
*:nth-of-type(443) {--i: 443;}
*:nth-of-type(444) {--i: 444;}
*:nth-of-type(445) {--i: 445;}
*:nth-of-type(446) {--i: 446;}
*:nth-of-type(447) {--i: 447;}
*:nth-of-type(448) {--i: 448;}
*:nth-of-type(449) {--i: 449;}
*:nth-of-type(450) {--i: 450;}
*:nth-of-type(451) {--i: 451;}
*:nth-of-type(452) {--i: 452;}
*:nth-of-type(453) {--i: 453;}
*:nth-of-type(454) {--i: 454;}
*:nth-of-type(455) {--i: 455;}
*:nth-of-type(456) {--i: 456;}
*:nth-of-type(457) {--i: 457;}
*:nth-of-type(458) {--i: 458;}
*:nth-of-type(459) {--i: 459;}
*:nth-of-type(460) {--i: 460;}
*:nth-of-type(461) {--i: 461;}
*:nth-of-type(462) {--i: 462;}
*:nth-of-type(463) {--i: 463;}
*:nth-of-type(464) {--i: 464;}
*:nth-of-type(465) {--i: 465;}
*:nth-of-type(466) {--i: 466;}
*:nth-of-type(467) {--i: 467;}
*:nth-of-type(468) {--i: 468;}
*:nth-of-type(469) {--i: 469;}
*:nth-of-type(470) {--i: 470;}
*:nth-of-type(471) {--i: 471;}
*:nth-of-type(472) {--i: 472;}
*:nth-of-type(473) {--i: 473;}
*:nth-of-type(474) {--i: 474;}
*:nth-of-type(475) {--i: 475;}
*:nth-of-type(476) {--i: 476;}
*:nth-of-type(477) {--i: 477;}
*:nth-of-type(478) {--i: 478;}
*:nth-of-type(479) {--i: 479;}
*:nth-of-type(480) {--i: 480;}
*:nth-of-type(481) {--i: 481;}
*:nth-of-type(482) {--i: 482;}
*:nth-of-type(483) {--i: 483;}
*:nth-of-type(484) {--i: 484;}
*:nth-of-type(485) {--i: 485;}
*:nth-of-type(486) {--i: 486;}
*:nth-of-type(487) {--i: 487;}
*:nth-of-type(488) {--i: 488;}
*:nth-of-type(489) {--i: 489;}
*:nth-of-type(490) {--i: 490;}
*:nth-of-type(491) {--i: 491;}
*:nth-of-type(492) {--i: 492;}
*:nth-of-type(493) {--i: 493;}
*:nth-of-type(494) {--i: 494;}
*:nth-of-type(495) {--i: 495;}
*:nth-of-type(496) {--i: 496;}
*:nth-of-type(497) {--i: 497;}
*:nth-of-type(498) {--i: 498;}
*:nth-of-type(499) {--i: 499;}
*:nth-of-type(500) {--i: 500;}
*:nth-of-type(501) {--i: 501;}
*:nth-of-type(502) {--i: 502;}
*:nth-of-type(503) {--i: 503;}
*:nth-of-type(504) {--i: 504;}
*:nth-of-type(505) {--i: 505;}
*:nth-of-type(506) {--i: 506;}
*:nth-of-type(507) {--i: 507;}
*:nth-of-type(508) {--i: 508;}
*:nth-of-type(509) {--i: 509;}
*:nth-of-type(510) {--i: 510;}
*:nth-of-type(511) {--i: 511;}
*:nth-of-type(512) {--i: 512;}
*:nth-of-type(513) {--i: 513;}
*:nth-of-type(514) {--i: 514;}
*:nth-of-type(515) {--i: 515;}
*:nth-of-type(516) {--i: 516;}
*:nth-of-type(517) {--i: 517;}
*:nth-of-type(518) {--i: 518;}
*:nth-of-type(519) {--i: 519;}
*:nth-of-type(520) {--i: 520;}
*:nth-of-type(521) {--i: 521;}
*:nth-of-type(522) {--i: 522;}
*:nth-of-type(523) {--i: 523;}
*:nth-of-type(524) {--i: 524;}
*:nth-of-type(525) {--i: 525;}
*:nth-of-type(526) {--i: 526;}
*:nth-of-type(527) {--i: 527;}
*:nth-of-type(528) {--i: 528;}
*:nth-of-type(529) {--i: 529;}
*:nth-of-type(530) {--i: 530;}
*:nth-of-type(531) {--i: 531;}
*:nth-of-type(532) {--i: 532;}
*:nth-of-type(533) {--i: 533;}
*:nth-of-type(534) {--i: 534;}
*:nth-of-type(535) {--i: 535;}
*:nth-of-type(536) {--i: 536;}
*:nth-of-type(537) {--i: 537;}
*:nth-of-type(538) {--i: 538;}
*:nth-of-type(539) {--i: 539;}
*:nth-of-type(540) {--i: 540;}
*:nth-of-type(541) {--i: 541;}
*:nth-of-type(542) {--i: 542;}
*:nth-of-type(543) {--i: 543;}
*:nth-of-type(544) {--i: 544;}
*:nth-of-type(545) {--i: 545;}
*:nth-of-type(546) {--i: 546;}
*:nth-of-type(547) {--i: 547;}
*:nth-of-type(548) {--i: 548;}
*:nth-of-type(549) {--i: 549;}
*:nth-of-type(550) {--i: 550;}
*:nth-of-type(551) {--i: 551;}
*:nth-of-type(552) {--i: 552;}
*:nth-of-type(553) {--i: 553;}
*:nth-of-type(554) {--i: 554;}
*:nth-of-type(555) {--i: 555;}
*:nth-of-type(556) {--i: 556;}
*:nth-of-type(557) {--i: 557;}
*:nth-of-type(558) {--i: 558;}
*:nth-of-type(559) {--i: 559;}
*:nth-of-type(560) {--i: 560;}
*:nth-of-type(561) {--i: 561;}
*:nth-of-type(562) {--i: 562;}
*:nth-of-type(563) {--i: 563;}
*:nth-of-type(564) {--i: 564;}
*:nth-of-type(565) {--i: 565;}
*:nth-of-type(566) {--i: 566;}
*:nth-of-type(567) {--i: 567;}
*:nth-of-type(568) {--i: 568;}
*:nth-of-type(569) {--i: 569;}
*:nth-of-type(570) {--i: 570;}
*:nth-of-type(571) {--i: 571;}
*:nth-of-type(572) {--i: 572;}
*:nth-of-type(573) {--i: 573;}
*:nth-of-type(574) {--i: 574;}
*:nth-of-type(575) {--i: 575;}
*:nth-of-type(576) {--i: 576;}
*:nth-of-type(577) {--i: 577;}
*:nth-of-type(578) {--i: 578;}
*:nth-of-type(579) {--i: 579;}
*:nth-of-type(580) {--i: 580;}
*:nth-of-type(581) {--i: 581;}
*:nth-of-type(582) {--i: 582;}
*:nth-of-type(583) {--i: 583;}
*:nth-of-type(584) {--i: 584;}
*:nth-of-type(585) {--i: 585;}
*:nth-of-type(586) {--i: 586;}
*:nth-of-type(587) {--i: 587;}
*:nth-of-type(588) {--i: 588;}
*:nth-of-type(589) {--i: 589;}
*:nth-of-type(590) {--i: 590;}
*:nth-of-type(591) {--i: 591;}
*:nth-of-type(592) {--i: 592;}
*:nth-of-type(593) {--i: 593;}
*:nth-of-type(594) {--i: 594;}
*:nth-of-type(595) {--i: 595;}
*:nth-of-type(596) {--i: 596;}
*:nth-of-type(597) {--i: 597;}
*:nth-of-type(598) {--i: 598;}
*:nth-of-type(599) {--i: 599;}
*:nth-of-type(600) {--i: 600;}
*:nth-of-type(601) {--i: 601;}
*:nth-of-type(602) {--i: 602;}
*:nth-of-type(603) {--i: 603;}
*:nth-of-type(604) {--i: 604;}
*:nth-of-type(605) {--i: 605;}
*:nth-of-type(606) {--i: 606;}
*:nth-of-type(607) {--i: 607;}
*:nth-of-type(608) {--i: 608;}
*:nth-of-type(609) {--i: 609;}
*:nth-of-type(610) {--i: 610;}
*:nth-of-type(611) {--i: 611;}
*:nth-of-type(612) {--i: 612;}
*:nth-of-type(613) {--i: 613;}
*:nth-of-type(614) {--i: 614;}
*:nth-of-type(615) {--i: 615;}
*:nth-of-type(616) {--i: 616;}
*:nth-of-type(617) {--i: 617;}
*:nth-of-type(618) {--i: 618;}
*:nth-of-type(619) {--i: 619;}
*:nth-of-type(620) {--i: 620;}
*:nth-of-type(621) {--i: 621;}
*:nth-of-type(622) {--i: 622;}
*:nth-of-type(623) {--i: 623;}
*:nth-of-type(624) {--i: 624;}
*:nth-of-type(625) {--i: 625;}
*:nth-of-type(626) {--i: 626;}
*:nth-of-type(627) {--i: 627;}
*:nth-of-type(628) {--i: 628;}
*:nth-of-type(629) {--i: 629;}
*:nth-of-type(630) {--i: 630;}
*:nth-of-type(631) {--i: 631;}
*:nth-of-type(632) {--i: 632;}
*:nth-of-type(633) {--i: 633;}
*:nth-of-type(634) {--i: 634;}
*:nth-of-type(635) {--i: 635;}
*:nth-of-type(636) {--i: 636;}
*:nth-of-type(637) {--i: 637;}
*:nth-of-type(638) {--i: 638;}
*:nth-of-type(639) {--i: 639;}
*:nth-of-type(640) {--i: 640;}
*:nth-of-type(641) {--i: 641;}
*:nth-of-type(642) {--i: 642;}
*:nth-of-type(643) {--i: 643;}
*:nth-of-type(644) {--i: 644;}
*:nth-of-type(645) {--i: 645;}
*:nth-of-type(646) {--i: 646;}
*:nth-of-type(647) {--i: 647;}
*:nth-of-type(648) {--i: 648;}
*:nth-of-type(649) {--i: 649;}
*:nth-of-type(650) {--i: 650;}
*:nth-of-type(651) {--i: 651;}
*:nth-of-type(652) {--i: 652;}
*:nth-of-type(653) {--i: 653;}
*:nth-of-type(654) {--i: 654;}
*:nth-of-type(655) {--i: 655;}
*:nth-of-type(656) {--i: 656;}
*:nth-of-type(657) {--i: 657;}
*:nth-of-type(658) {--i: 658;}
*:nth-of-type(659) {--i: 659;}
*:nth-of-type(660) {--i: 660;}
*:nth-of-type(661) {--i: 661;}
*:nth-of-type(662) {--i: 662;}
*:nth-of-type(663) {--i: 663;}
*:nth-of-type(664) {--i: 664;}
*:nth-of-type(665) {--i: 665;}
*:nth-of-type(666) {--i: 666;}
*:nth-of-type(667) {--i: 667;}
*:nth-of-type(668) {--i: 668;}
*:nth-of-type(669) {--i: 669;}
*:nth-of-type(670) {--i: 670;}
*:nth-of-type(671) {--i: 671;}
*:nth-of-type(672) {--i: 672;}
*:nth-of-type(673) {--i: 673;}
*:nth-of-type(674) {--i: 674;}
*:nth-of-type(675) {--i: 675;}
*:nth-of-type(676) {--i: 676;}
*:nth-of-type(677) {--i: 677;}
*:nth-of-type(678) {--i: 678;}
*:nth-of-type(679) {--i: 679;}
*:nth-of-type(680) {--i: 680;}
*:nth-of-type(681) {--i: 681;}
*:nth-of-type(682) {--i: 682;}
*:nth-of-type(683) {--i: 683;}
*:nth-of-type(684) {--i: 684;}
*:nth-of-type(685) {--i: 685;}
*:nth-of-type(686) {--i: 686;}
*:nth-of-type(687) {--i: 687;}
*:nth-of-type(688) {--i: 688;}
*:nth-of-type(689) {--i: 689;}
*:nth-of-type(690) {--i: 690;}
*:nth-of-type(691) {--i: 691;}
*:nth-of-type(692) {--i: 692;}
*:nth-of-type(693) {--i: 693;}
*:nth-of-type(694) {--i: 694;}
*:nth-of-type(695) {--i: 695;}
*:nth-of-type(696) {--i: 696;}
*:nth-of-type(697) {--i: 697;}
*:nth-of-type(698) {--i: 698;}
*:nth-of-type(699) {--i: 699;}
*:nth-of-type(700) {--i: 700;}
*:nth-of-type(701) {--i: 701;}
*:nth-of-type(702) {--i: 702;}
*:nth-of-type(703) {--i: 703;}
*:nth-of-type(704) {--i: 704;}
*:nth-of-type(705) {--i: 705;}
*:nth-of-type(706) {--i: 706;}
*:nth-of-type(707) {--i: 707;}
*:nth-of-type(708) {--i: 708;}
*:nth-of-type(709) {--i: 709;}
*:nth-of-type(710) {--i: 710;}
*:nth-of-type(711) {--i: 711;}
*:nth-of-type(712) {--i: 712;}
*:nth-of-type(713) {--i: 713;}
*:nth-of-type(714) {--i: 714;}
*:nth-of-type(715) {--i: 715;}
*:nth-of-type(716) {--i: 716;}
*:nth-of-type(717) {--i: 717;}
*:nth-of-type(718) {--i: 718;}
*:nth-of-type(719) {--i: 719;}
*:nth-of-type(720) {--i: 720;}
*:nth-of-type(721) {--i: 721;}
*:nth-of-type(722) {--i: 722;}
*:nth-of-type(723) {--i: 723;}
*:nth-of-type(724) {--i: 724;}
*:nth-of-type(725) {--i: 725;}
*:nth-of-type(726) {--i: 726;}
*:nth-of-type(727) {--i: 727;}
*:nth-of-type(728) {--i: 728;}
*:nth-of-type(729) {--i: 729;}
*:nth-of-type(730) {--i: 730;}
*:nth-of-type(731) {--i: 731;}
*:nth-of-type(732) {--i: 732;}
*:nth-of-type(733) {--i: 733;}
*:nth-of-type(734) {--i: 734;}
*:nth-of-type(735) {--i: 735;}
*:nth-of-type(736) {--i: 736;}
*:nth-of-type(737) {--i: 737;}
*:nth-of-type(738) {--i: 738;}
*:nth-of-type(739) {--i: 739;}
*:nth-of-type(740) {--i: 740;}
*:nth-of-type(741) {--i: 741;}
*:nth-of-type(742) {--i: 742;}
*:nth-of-type(743) {--i: 743;}
*:nth-of-type(744) {--i: 744;}
*:nth-of-type(745) {--i: 745;}
*:nth-of-type(746) {--i: 746;}
*:nth-of-type(747) {--i: 747;}
*:nth-of-type(748) {--i: 748;}
*:nth-of-type(749) {--i: 749;}
*:nth-of-type(750) {--i: 750;}
*:nth-of-type(751) {--i: 751;}
*:nth-of-type(752) {--i: 752;}
*:nth-of-type(753) {--i: 753;}
*:nth-of-type(754) {--i: 754;}
*:nth-of-type(755) {--i: 755;}
*:nth-of-type(756) {--i: 756;}
*:nth-of-type(757) {--i: 757;}
*:nth-of-type(758) {--i: 758;}
*:nth-of-type(759) {--i: 759;}
*:nth-of-type(760) {--i: 760;}
*:nth-of-type(761) {--i: 761;}
*:nth-of-type(762) {--i: 762;}
*:nth-of-type(763) {--i: 763;}
*:nth-of-type(764) {--i: 764;}
*:nth-of-type(765) {--i: 765;}
*:nth-of-type(766) {--i: 766;}
*:nth-of-type(767) {--i: 767;}
*:nth-of-type(768) {--i: 768;}
*:nth-of-type(769) {--i: 769;}
*:nth-of-type(770) {--i: 770;}
*:nth-of-type(771) {--i: 771;}
*:nth-of-type(772) {--i: 772;}
*:nth-of-type(773) {--i: 773;}
*:nth-of-type(774) {--i: 774;}
*:nth-of-type(775) {--i: 775;}
*:nth-of-type(776) {--i: 776;}
*:nth-of-type(777) {--i: 777;}
*:nth-of-type(778) {--i: 778;}
*:nth-of-type(779) {--i: 779;}
*:nth-of-type(780) {--i: 780;}
*:nth-of-type(781) {--i: 781;}
*:nth-of-type(782) {--i: 782;}
*:nth-of-type(783) {--i: 783;}
*:nth-of-type(784) {--i: 784;}
*:nth-of-type(785) {--i: 785;}
*:nth-of-type(786) {--i: 786;}
*:nth-of-type(787) {--i: 787;}
*:nth-of-type(788) {--i: 788;}
*:nth-of-type(789) {--i: 789;}
*:nth-of-type(790) {--i: 790;}
*:nth-of-type(791) {--i: 791;}
*:nth-of-type(792) {--i: 792;}
*:nth-of-type(793) {--i: 793;}
*:nth-of-type(794) {--i: 794;}
*:nth-of-type(795) {--i: 795;}
*:nth-of-type(796) {--i: 796;}
*:nth-of-type(797) {--i: 797;}
*:nth-of-type(798) {--i: 798;}
*:nth-of-type(799) {--i: 799;}
*:nth-of-type(800) {--i: 800;}
*:nth-of-type(801) {--i: 801;}
*:nth-of-type(802) {--i: 802;}
*:nth-of-type(803) {--i: 803;}
*:nth-of-type(804) {--i: 804;}
*:nth-of-type(805) {--i: 805;}
*:nth-of-type(806) {--i: 806;}
*:nth-of-type(807) {--i: 807;}
*:nth-of-type(808) {--i: 808;}
*:nth-of-type(809) {--i: 809;}
*:nth-of-type(810) {--i: 810;}
*:nth-of-type(811) {--i: 811;}
*:nth-of-type(812) {--i: 812;}
*:nth-of-type(813) {--i: 813;}
*:nth-of-type(814) {--i: 814;}
*:nth-of-type(815) {--i: 815;}
*:nth-of-type(816) {--i: 816;}
*:nth-of-type(817) {--i: 817;}
*:nth-of-type(818) {--i: 818;}
*:nth-of-type(819) {--i: 819;}
*:nth-of-type(820) {--i: 820;}
*:nth-of-type(821) {--i: 821;}
*:nth-of-type(822) {--i: 822;}
*:nth-of-type(823) {--i: 823;}
*:nth-of-type(824) {--i: 824;}
*:nth-of-type(825) {--i: 825;}
*:nth-of-type(826) {--i: 826;}
*:nth-of-type(827) {--i: 827;}
*:nth-of-type(828) {--i: 828;}
*:nth-of-type(829) {--i: 829;}
*:nth-of-type(830) {--i: 830;}
*:nth-of-type(831) {--i: 831;}
*:nth-of-type(832) {--i: 832;}
*:nth-of-type(833) {--i: 833;}
*:nth-of-type(834) {--i: 834;}
*:nth-of-type(835) {--i: 835;}
*:nth-of-type(836) {--i: 836;}
*:nth-of-type(837) {--i: 837;}
*:nth-of-type(838) {--i: 838;}
*:nth-of-type(839) {--i: 839;}
*:nth-of-type(840) {--i: 840;}
*:nth-of-type(841) {--i: 841;}
*:nth-of-type(842) {--i: 842;}
*:nth-of-type(843) {--i: 843;}
*:nth-of-type(844) {--i: 844;}
*:nth-of-type(845) {--i: 845;}
*:nth-of-type(846) {--i: 846;}
*:nth-of-type(847) {--i: 847;}
*:nth-of-type(848) {--i: 848;}
*:nth-of-type(849) {--i: 849;}
*:nth-of-type(850) {--i: 850;}
*:nth-of-type(851) {--i: 851;}
*:nth-of-type(852) {--i: 852;}
*:nth-of-type(853) {--i: 853;}
*:nth-of-type(854) {--i: 854;}
*:nth-of-type(855) {--i: 855;}
*:nth-of-type(856) {--i: 856;}
*:nth-of-type(857) {--i: 857;}
*:nth-of-type(858) {--i: 858;}
*:nth-of-type(859) {--i: 859;}
*:nth-of-type(860) {--i: 860;}
*:nth-of-type(861) {--i: 861;}
*:nth-of-type(862) {--i: 862;}
*:nth-of-type(863) {--i: 863;}
*:nth-of-type(864) {--i: 864;}
*:nth-of-type(865) {--i: 865;}
*:nth-of-type(866) {--i: 866;}
*:nth-of-type(867) {--i: 867;}
*:nth-of-type(868) {--i: 868;}
*:nth-of-type(869) {--i: 869;}
*:nth-of-type(870) {--i: 870;}
*:nth-of-type(871) {--i: 871;}
*:nth-of-type(872) {--i: 872;}
*:nth-of-type(873) {--i: 873;}
*:nth-of-type(874) {--i: 874;}
*:nth-of-type(875) {--i: 875;}
*:nth-of-type(876) {--i: 876;}
*:nth-of-type(877) {--i: 877;}
*:nth-of-type(878) {--i: 878;}
*:nth-of-type(879) {--i: 879;}
*:nth-of-type(880) {--i: 880;}
*:nth-of-type(881) {--i: 881;}
*:nth-of-type(882) {--i: 882;}
*:nth-of-type(883) {--i: 883;}
*:nth-of-type(884) {--i: 884;}
*:nth-of-type(885) {--i: 885;}
*:nth-of-type(886) {--i: 886;}
*:nth-of-type(887) {--i: 887;}
*:nth-of-type(888) {--i: 888;}
*:nth-of-type(889) {--i: 889;}
*:nth-of-type(890) {--i: 890;}
*:nth-of-type(891) {--i: 891;}
*:nth-of-type(892) {--i: 892;}
*:nth-of-type(893) {--i: 893;}
*:nth-of-type(894) {--i: 894;}
*:nth-of-type(895) {--i: 895;}
*:nth-of-type(896) {--i: 896;}
*:nth-of-type(897) {--i: 897;}
*:nth-of-type(898) {--i: 898;}
*:nth-of-type(899) {--i: 899;}
*:nth-of-type(900) {--i: 900;}
*:nth-of-type(901) {--i: 901;}
*:nth-of-type(902) {--i: 902;}
*:nth-of-type(903) {--i: 903;}
*:nth-of-type(904) {--i: 904;}
*:nth-of-type(905) {--i: 905;}
*:nth-of-type(906) {--i: 906;}
*:nth-of-type(907) {--i: 907;}
*:nth-of-type(908) {--i: 908;}
*:nth-of-type(909) {--i: 909;}
*:nth-of-type(910) {--i: 910;}
*:nth-of-type(911) {--i: 911;}
*:nth-of-type(912) {--i: 912;}
*:nth-of-type(913) {--i: 913;}
*:nth-of-type(914) {--i: 914;}
*:nth-of-type(915) {--i: 915;}
*:nth-of-type(916) {--i: 916;}
*:nth-of-type(917) {--i: 917;}
*:nth-of-type(918) {--i: 918;}
*:nth-of-type(919) {--i: 919;}
*:nth-of-type(920) {--i: 920;}
*:nth-of-type(921) {--i: 921;}
*:nth-of-type(922) {--i: 922;}
*:nth-of-type(923) {--i: 923;}
*:nth-of-type(924) {--i: 924;}
*:nth-of-type(925) {--i: 925;}
*:nth-of-type(926) {--i: 926;}
*:nth-of-type(927) {--i: 927;}
*:nth-of-type(928) {--i: 928;}
*:nth-of-type(929) {--i: 929;}
*:nth-of-type(930) {--i: 930;}
*:nth-of-type(931) {--i: 931;}
*:nth-of-type(932) {--i: 932;}
*:nth-of-type(933) {--i: 933;}
*:nth-of-type(934) {--i: 934;}
*:nth-of-type(935) {--i: 935;}
*:nth-of-type(936) {--i: 936;}
*:nth-of-type(937) {--i: 937;}
*:nth-of-type(938) {--i: 938;}
*:nth-of-type(939) {--i: 939;}
*:nth-of-type(940) {--i: 940;}
*:nth-of-type(941) {--i: 941;}
*:nth-of-type(942) {--i: 942;}
*:nth-of-type(943) {--i: 943;}
*:nth-of-type(944) {--i: 944;}
*:nth-of-type(945) {--i: 945;}
*:nth-of-type(946) {--i: 946;}
*:nth-of-type(947) {--i: 947;}
*:nth-of-type(948) {--i: 948;}
*:nth-of-type(949) {--i: 949;}
*:nth-of-type(950) {--i: 950;}
*:nth-of-type(951) {--i: 951;}
*:nth-of-type(952) {--i: 952;}
*:nth-of-type(953) {--i: 953;}
*:nth-of-type(954) {--i: 954;}
*:nth-of-type(955) {--i: 955;}
*:nth-of-type(956) {--i: 956;}
*:nth-of-type(957) {--i: 957;}
*:nth-of-type(958) {--i: 958;}
*:nth-of-type(959) {--i: 959;}
*:nth-of-type(960) {--i: 960;}
*:nth-of-type(961) {--i: 961;}
*:nth-of-type(962) {--i: 962;}
*:nth-of-type(963) {--i: 963;}
*:nth-of-type(964) {--i: 964;}
*:nth-of-type(965) {--i: 965;}
*:nth-of-type(966) {--i: 966;}
*:nth-of-type(967) {--i: 967;}
*:nth-of-type(968) {--i: 968;}
*:nth-of-type(969) {--i: 969;}
*:nth-of-type(970) {--i: 970;}
*:nth-of-type(971) {--i: 971;}
*:nth-of-type(972) {--i: 972;}
*:nth-of-type(973) {--i: 973;}
*:nth-of-type(974) {--i: 974;}
*:nth-of-type(975) {--i: 975;}
*:nth-of-type(976) {--i: 976;}
*:nth-of-type(977) {--i: 977;}
*:nth-of-type(978) {--i: 978;}
*:nth-of-type(979) {--i: 979;}
*:nth-of-type(980) {--i: 980;}
*:nth-of-type(981) {--i: 981;}
*:nth-of-type(982) {--i: 982;}
*:nth-of-type(983) {--i: 983;}
*:nth-of-type(984) {--i: 984;}
*:nth-of-type(985) {--i: 985;}
*:nth-of-type(986) {--i: 986;}
*:nth-of-type(987) {--i: 987;}
*:nth-of-type(988) {--i: 988;}
*:nth-of-type(989) {--i: 989;}
*:nth-of-type(990) {--i: 990;}
*:nth-of-type(991) {--i: 991;}
*:nth-of-type(992) {--i: 992;}
*:nth-of-type(993) {--i: 993;}
*:nth-of-type(994) {--i: 994;}
*:nth-of-type(995) {--i: 995;}
*:nth-of-type(996) {--i: 996;}
*:nth-of-type(997) {--i: 997;}
*:nth-of-type(998) {--i: 998;}
*:nth-of-type(999) {--i: 999;}
*:nth-of-type(1000) {--i: 1000;}