/* 
rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1)
rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1)
rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1)
rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1)
rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1) | rgba(244, 101, 41, 1)

[355,132] → rgba(209, 82, 55, 1)
[370,132] → rgba(219, 90, 52, 1)
[385,132] → rgba(229, 93, 46, 1)
[400,132] → rgba(231, 94, 43, 1)
[415,132] → rgba(229, 91, 46, 1)
───
[355,147] → rgba(227, 90, 46, 1)
[370,147] → rgba(235, 94, 41, 1)
[385,147] → rgba(246, 102, 39, 1)
[400,147] → rgba(247, 102, 40, 1)
[415,147] → rgba(250, 103, 41, 1)
───
[355,162] → rgba(246, 101, 37, 1)
[370,162] → rgba(252, 108, 36, 1)
[385,162] → rgba(254, 113, 31, 1)
[400,162] → rgba(252, 111, 31, 1)
[415,162] → rgba(255, 113, 35, 1)
───
[355,177] → rgba(255, 115, 35, 1)
[370,177] → rgba(255, 119, 30, 1)
[385,177] → rgba(250, 119, 22, 1)
[400,177] → rgba(249, 122, 25, 1)
[415,177] → rgba(255, 124, 26, 1)
───
[355,192] → rgba(253, 124, 30, 1)
[370,192] → rgba(255, 132, 38, 1)
[385,192] → rgba(254, 141, 47, 1)
[400,192] → rgba(255, 148, 50, 1)
[415,192] → rgba(254, 144, 42, 1)

--clr-369-120: hsla(357, 62%, 52%, 1);
--clr-384-120: hsla(0, 66%, 53%, 1);
--clr-399-120: hsla(2, 70%, 53%, 1);
--clr-414-120: hsla(2, 68%, 53%, 1);
--clr-429-120: hsla(2, 65%, 51%, 1);
───
--clr-369-135: hsla(5, 73%, 53%, 1);
--clr-384-135: hsla(8, 80%, 54%, 1);
--clr-399-135: hsla(9, 81%, 54%, 1);
--clr-414-135: hsla(7, 81%, 55%, 1);
--clr-429-135: hsla(7, 77%, 54%, 1);
───
--clr-369-150: hsla(11, 84%, 54%, 1);
--clr-384-150: hsla(13, 95%, 57%, 1);
--clr-399-150: hsla(13, 99%, 58%, 1);
--clr-414-150: hsla(14, 97%, 56%, 1);
--clr-429-150: hsla(15, 93%, 55%, 1);
───
--clr-369-165: hsla(16, 97%, 56%, 1);
--clr-384-165: hsla(18, 100%, 56%, 1);
--clr-399-165: hsla(19, 93%, 54%, 1);
--clr-414-165: hsla(20, 95%, 53%, 1);
--clr-429-165: hsla(19, 94%, 53%, 1);
───
--clr-369-180: hsla(20, 100%, 56%, 1);
--clr-384-180: hsla(21, 100%, 56%, 1);
--clr-399-180: hsla(21, 98%, 57%, 1);
--clr-414-180: hsla(22, 99%, 56%, 1);
--clr-429-180: hsla(22, 99%, 55%, 1);
*/

.sunset {
    --clr-364-187: hsla(20, 98%, 56%, 1);
    --clr-379-187: hsla(21, 97%, 56%, 1);
    --clr-394-187: hsla(20, 98%, 58%, 1);
    --clr-409-187: hsla(21, 99%, 58%, 1);
    --clr-424-187: hsla(22, 97%, 56%, 1);

    --clr-364-202: hsla(22, 99%, 57%, 1);
    --clr-379-202: hsla(23, 99%, 58%, 1);
    --clr-394-202: hsla(24, 98%, 59%, 1);
    --clr-409-202: hsla(23, 99%, 59%, 1);
    --clr-424-202: hsla(20, 97%, 59%, 1);

    --clr-364-217: hsla(33, 97%, 55%, 1);
    --clr-379-217: hsla(51, 100%, 52%, 1);
    --clr-394-217: hsla(29, 100%, 66%, 1);
    --clr-409-217: hsla(49, 100%, 51%, 1);
    --clr-424-217: hsla(34, 94%, 54%, 1);

    --clr-364-232: hsla(24, 100%, 43%, 1);
    --clr-379-232: hsla(35, 93%, 52%, 1);
    --clr-394-232: hsla(17, 84%, 48%, 1);
    --clr-409-232: hsla(5, 65%, 50%, 1);
    --clr-424-232: hsla(22, 98%, 59%, 1);


    --clr-334-74: hsla(308, 31%, 47%, 1);
    --clr-364-74: hsla(321, 34%, 48%, 1);
    --clr-394-74: hsla(330, 38%, 50%, 1);
    --clr-424-74: hsla(330, 38%, 49%, 1);
    --clr-454-74: hsla(324, 35%, 49%, 1);

    --clr-334-104: hsla(333, 40%, 48%, 1);
    --clr-364-104: hsla(344, 48%, 51%, 1);
    --clr-394-104: hsla(352, 56%, 51%, 1);
    --clr-424-104: hsla(352, 55%, 51%, 1);
    --clr-454-104: hsla(346, 49%, 50%, 1);

    --clr-334-134: hsla(354, 57%, 51%, 1);
    --clr-364-134: hsla(1, 70%, 54%, 1);
    --clr-394-134: hsla(8, 80%, 54%, 1);
    --clr-424-134: hsla(6, 78%, 54%, 1);
    --clr-454-134: hsla(2, 69%, 53%, 1);

    --clr-334-164: hsla(9, 85%, 55%, 1);
    --clr-364-164: hsla(15, 100%, 57%, 1);
    --clr-394-164: hsla(18, 100%, 57%, 1);
    --clr-424-164: hsla(18, 93%, 53%, 1);
    --clr-454-164: hsla(14, 95%, 55%, 1);

    --clr-334-194: hsla(19, 100%, 56%, 1);
    --clr-364-194: hsla(22, 99%, 55%, 1);
    --clr-394-194: hsla(21, 100%, 60%, 1);
    --clr-424-194: hsla(22, 93%, 55%, 1);
    --clr-454-194: hsla(22, 97%, 53%, 1);
}