:root {
    /* color
    █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
     ▐▀▀▀▌       ▐            
     ▐     ▐▀▀▀▌ ▐  ▐▀▀▀▌ ▐■▀ 
     ▐▄▄▄▌ ▐▄▄▄▌ ▐▄ ▐▄▄▄▌ ▐   
    █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█
    */
    
    /* 
    [bw] Black and White
    --bwt: transparent;
    */
    --bwt: #0000;
    --bw0: #000;
    --bw1: #111;
    --bw2: #222;
    --bw3: #333;
    --bw4: #444;
    --bw5: #555;
    --bw6: #666;
    --bw7: #777;
    --bw8: #888;
    --bw9: #999;
    --bwa: #aaa;
    --bwb: #bbb;
    --bwc: #ccc;
    --bwd: #ddd;
    --bwe: #eee;
    --bwf: #fff;
    
    --bwf9: #fff9;
    --clr-t: transparent;

    /* Color Scheme: [hex/hsl] Hexadic (6) */
    --c030: #f93; --c030s: #420;
    --c090: #9f3; --c090s: #240;
    --c150: #3f9; --c150s: #042;
    --c210: #39f; --c210s: #024;
    --c270: #93f; --c270s: #204;
    --c330: #f39; --c330s: #402;

    /* Color Scheme: [hex/hsl] Duoedic (12) */
    --c000: #f33; --c000s: #400;
    --c030: #f93; --c030s: #420;
    --c060: #ff3; --c060s: #440;
    --c090: #9f3; --c090s: #240;
    --c120: #3f3; --c120s: #040;
    --c150: #3f9; --c150s: #042;
    --c180: #3ff; --c180s: #044;
    --c210: #39f; --c210s: #024;
    --c240: #33f; --c240s: #004;
    --c270: #93f; --c270s: #204;
    --c300: #f3f; --c330s: #404;
    --c330: #f39; --c330s: #402;


    /* hsla() rotation */
    /* --hue: 210;
    --sat: 100;
    --lum: 50;
    --alp: 1;
    
    --steps: 12;
    --hue-step: 360 / var(--steps); */
}