:root {
    /* Polychromatic Color Schemes.. */

    /* Color Scheme: [hex/hsl] Duoedic (12) */
    --c000: #f33; --c000s: #400;
    --c030: #f93; --c030s: #420;
    --c060: #ff3; --c060s: #440;
    --c090: #9f3; --c090s: #240;
    --c120: #3f3; --c120s: #040;
    --c150: #3f9; --c150s: #042;
    --c180: #3ff; --c180s: #044;
    --c210: #39f; --c210s: #024;
    --c240: #33f; --c240s: #004;
    --c270: #93f; --c270s: #204;
    --c300: #f3f; --c330s: #404;
    --c330: #f39; --c330s: #402;
    
    /* Steps out of the wheel..
     */
    --c330: hsl(330, 100%, 60%); --c330s: hsl(330, 100%, 13%);

    --c330: hsl(330, 100%, 50%); --c330s: hsl(330, 100%, 20%);
    --c330: hsl(330, 100%, 40%); --c330s: hsl(330, 100%, 15%);
    --c330: hsl(330, 100%, 25%); --c330s: hsl(330, 100%, 10%);

    --c330: #ff0080; --c330s: #660033;
    --c330: #cc0066; --c330s: #4d0026;
    --c330: #800040; --c330s: #33001a;

    --c330: #f08; --c330s: #603;
    --c330: #c06; --c330s: #402;
    --c330: #804; --c330s: #301;

    --c330: hsl(328, 100%, 50%); --c330s: hsl(330, 100%, 20%);
    --c330: hsl(330, 100%, 40%); --c330s: hsl(330, 100%, 13%);
    --c330: hsl(330, 100%, 27%); --c330s: hsl(340, 100%, 10%);

    --c330: #c06; --c330: hsl(330, 100%, 40%);
    --c330s: #603; --c330s: hsl(330, 100%, 20%);


    /* Color Scheme: [hex/hsl] Hexadic (6) {tertiary colors on RGB color wheel} */
    --c030: #f93; --c030s: #420;
    --c090: #9f3; --c090s: #240;
    --c150: #3f9; --c150s: #042;
    --c210: #39f; --c210s: #024;
    --c270: #93f; --c270s: #204;
    --c330: #f39; --c330s: #402;

    /* Static Combinations (for Hexadic) */
    --clr-hue-vars: '0369cf';
    --clr-hue-var: #0369cf;
    /* [036] [06c] [39f] */
    /* [369] [69c] [9cf] */
    --c: #369;
    --c: #69c;
    --c: #9cf;

    --c: #936;
    --c: #c69;
    --c: #f9c;
    
    --c: hsl(210, 50%, 40%);
    --c: hsl(210, 50%, 60%);
    --c: hsl(210, 100%, 80%);

    --c: hsl(330, 50%, 40%);
    --c: hsl(330, 50%, 60%);
    --c: hsl(330, 100%, 80%);

    /* [036] [06c] [39f] */
    --c: #036;
    --c: #06c;
    --c: #39f;

    --c: #603;
    --c: #c06;
    --c: #f39;


    /* Clear and Soft Monotone */
    --c: #036; --c: hsl(210, 100%, 20%);
    --c: #06c; --c: hsl(210, 100%, 40%);
    --c: #39f; --c: hsl(210, 100%, 60%);
    --c: #9cf; --c: hsl(210, 100%, 80%);
    --c: #69c; --c: hsl(210, 50%, 60%);
    --c: #369; --c: hsl(210, 50%, 40%);

    /* (4) Clear Monotone */
    --c: #036; --c: hsl(210, 100%, 20%);
    --c: #06c; --c: hsl(210, 100%, 40%);
    --c: #39f; --c: hsl(210, 100%, 60%);
    --c: #9cf; --c: hsl(210, 100%, 80%);

    /* (4) Soft Monotone */
    --c: #9cf; --c: hsl(210, 100%, 80%);
    --c: #69c; --c: hsl(210, 50%, 60%);
    --c: #369; --c: hsl(210, 50%, 40%);
    --c: #036; --c: hsl(210, 100%, 20%);

    /* (4) High Constrast */
    --c: #012; --c: hsl(210, 100%, 7%);
    --c: #024; --c: hsl(210, 100%, 13%);
    --c: #bdf; --c: hsl(210, 100%, 87%);
    --c: #def; --c: hsl(210, 100%, 93%);

    /* (10-12) Reverie Leaps */
    --c: #012; --c: hsl(210, 100%, 7%);
    --c: #024; --c: hsl(210, 100%, 13%);

    /* --c: #036; --c: hsl(210, 100%, 20%); */
    --c: #048; --c: hsl(210, 100%, 27%);
    --c: #05a; --c: hsl(210, 100%, 33%);
    --c: #07e; --c: hsl(210, 100%, 47%);

    --c: #18f; --c: hsl(210, 100%, 53%);
    --c: #5af; --c: hsl(210, 100%, 67%);
    --c: #7bf; --c: hsl(210, 100%, 73%);
    /* --c: #9cf; --c: hsl(210, 100%, 80%); */

    --c: #bdf; --c: hsl(210, 100%, 87%);
    --c: #def; --c: hsl(210, 100%, 93%);

    /* (4) Distant Echoing */
    --c: #03f; --c: hsl(228, 100%, 50%);
    --c: #06f; --c: hsl(216, 100%, 50%);
    --c: #09f; --c: hsl(204, 100%, 50%);
    --c: #0cf; --c: hsl(192, 100%, 50%);

}

.Reverie-Leaps {
    /* 10 Leaps */
    --c: #012; --c: hsl(210, 100%, 7%);
    --c: #024; --c: hsl(210, 100%, 13%);
    --c: #048; --c: hsl(210, 100%, 27%);
    --c: #05a; --c: hsl(210, 100%, 33%);
    --c: #07e; --c: hsl(210, 100%, 47%);
    --c: #18f; --c: hsl(210, 100%, 53%);
    --c: #5af; --c: hsl(210, 100%, 67%);
    --c: #7bf; --c: hsl(210, 100%, 73%);
    --c: #bdf; --c: hsl(210, 100%, 87%);
    --c: #def; --c: hsl(210, 100%, 93%);

    /* 12 Leaps */
    --c: #012; --c: hsl(210, 100%, 7%);
    --c: #024; --c: hsl(210, 100%, 13%);
    --c: #036; --c: hsl(210, 100%, 20%);
    --c: #048; --c: hsl(210, 100%, 27%);
    --c: #05a; --c: hsl(210, 100%, 33%);
    --c: #07e; --c: hsl(210, 100%, 47%);

    --c: #18f; --c: hsl(210, 100%, 53%);
    --c: #5af; --c: hsl(210, 100%, 67%);
    --c: #7bf; --c: hsl(210, 100%, 73%);
    --c: #9cf; --c: hsl(210, 100%, 80%);
    --c: #bdf; --c: hsl(210, 100%, 87%);
    --c: #def; --c: hsl(210, 100%, 93%);
}


.full-palette {
    /* (2) Soft Monotone */
    --c: #369; --c: hsl(210, 50%, 40%);
    --c: #69c; --c: hsl(210, 50%, 60%);
    
    /* 14 Leaps */
    --c: #012; --c: hsl(210, 100%, 7%);
    --c: #024; --c: hsl(210, 100%, 13%);
    --c: #036; --c: hsl(210, 100%, 20%);
    --c: #048; --c: hsl(210, 100%, 27%);
    --c: #05a; --c: hsl(210, 100%, 33%);
    --c: #06c; --c: hsl(210, 100%, 40%);
    --c: #07e; --c: hsl(210, 100%, 47%);

    --c: #18f; --c: hsl(210, 100%, 53%);
    --c: #39f; --c: hsl(210, 100%, 60%);
    --c: #5af; --c: hsl(210, 100%, 67%);
    --c: #7bf; --c: hsl(210, 100%, 73%);
    --c: #9cf; --c: hsl(210, 100%, 80%);
    --c: #bdf; --c: hsl(210, 100%, 87%);
    --c: #def; --c: hsl(210, 100%, 93%);
    
    /* 14 Steps */
    --c: #09121b; --c: hsl(210, 50%, 7%);
    --c: #112132; --c: hsl(210, 50%, 13%);
    --c: #19334d; --c: hsl(210, 50%, 20%);
    --c: #224567; --c: hsl(210, 50%, 27%);
    --c: #2a547e; --c: hsl(210, 50%, 33%);
    --c: #336699; --c: hsl(210, 50%, 40%);
    --c: #3c78b4; --c: hsl(210, 50%, 47%);
    --c: #4b87c3; --c: hsl(210, 50%, 53%);
    --c: #6699cc; --c: hsl(210, 50%, 60%);
    --c: #81abd5; --c: hsl(210, 50%, 67%);
    --c: #98badd; --c: hsl(210, 50%, 73%);
    --c: #b3cce6; --c: hsl(210, 50%, 80%);
    --c: #cddeee; --c: hsl(210, 50%, 87%);
    --c: #e4edf6; --c: hsl(210, 50%, 93%);

}

.Distant-Echoing {
    /* Distant Echoing */

    /* hue-start: 210 */
    --c: #03f; --c: hsl(228, 100%, 50%);
    --c: #06f; --c: hsl(216, 100%, 50%);
    --c: #09f; --c: hsl(204, 100%, 50%);
    --c: #0cf; --c: hsl(192, 100%, 50%);

}


.Polychrome {
    
}