.bg {
    --clr: #271f09;
    --clr: #342a0d;
    --clr: #615123;
    --clr: #959545;
    --clr: #bbb579;
    --clr: #e0e290;
    --clr: #ced5a7;
    --clr: #d5d8a6;
    
    --clr: #8e5f14;
    --clr: #57380a;

    --clr: #002d53;

    --clr: #050506;
    --clr: #94937c;

    --clr: #f9fad4;
    --clr: #a29e4d;
    --clr: #4e4419;
    --clr: #1d1606;

    --clr: 000;
}

.bg1 {
    --clr: hsl(44, 63%, 9%);
    --clr: hsl(45, 60%, 13%);
    --clr: hsl(45, 47%, 26%);
    --clr: hsl(60, 37%, 43%);
    --clr: hsl(55, 33%, 60%);
    --clr: hsl(61, 59%, 73%);
    --clr: hsl(69, 35%, 75%);
    --clr: hsl(64, 39%, 75%);
    
    --clr: hsl(37, 75%, 32%);
    --clr: hsl(36, 79%, 19%);

    --clr: hsl(207, 100%, 16%);

    --clr: #050506;
    --clr: #94937c;

    --clr: hsl(62, 79%, 91%);
    --clr: hsl(57, 36%, 47%);
    --clr: hsl(49, 51%, 20%);
    --clr: hsl(42, 66%, 7%);
}

.bg2 {

    --clr: hsl(60, 37%, 43%);
    --clr: hsl(207, 100%, 16%);
    --clr: hsl(27, 100%, 16%);

    --clr: hsl(207, 100%, 60%);
    --clr: hsl(27, 100%, 60%);

    --clr: hsl(210, 35%, 75%);
    --clr: hsl(210, 45%, 60%);
    --clr: hsl(210, 50%, 40%);
    --clr: hsl(210, 55%, 25%);
    --clr: hsl(210, 60%, 15%);
    --clr: hsl(210, 70%, 10%);
}