:root {
    --scl: 3;
    --sz: calc(var(--scl) * 16px);
    --tile: calc(var(--scl) * 16px);
    --side: calc(var(--scl) * 25px);
    --center: calc(var(--scl) * 50px);
    /* height: var(--tile); width: var(--tile); */
    --bgi: linear-gradient(135deg, #39f, #f39);
}
.grid {margin: 1rem;}
.row {
    display: flex;
    flex-direction: row;
}
.tile {
    position: relative;
    box-sizing: border-box;
    height: 1rem; width: 1rem;
    background: #fff3;
    margin: 1px;
    z-index: 1;
    
    height: var(--tile); width: var(--tile);
    font-size: var(--sz);
}

.sideTile,
.row:nth-child(2) .tile:nth-child(2n+1), 
.row:nth-child(2n+1) .tile:nth-child(2n) {
    --tile-sz: var(--side);
    --tile-sz: var(--tile);
    background-color: #f003;
}
.sideTile::before,
.row:nth-child(2) .tile:nth-child(2n+1)::before, 
.row:nth-child(2n+1) .tile:nth-child(2n)::before {
    content: '⇗';
    position: absolute;
    top: 50%; left: 50%;
    height: 25px; width: 25px;
    height: var(--side); width: var(--side);
    background-image: linear-gradient(180deg, #39f, #f39);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    border-radius: 100% 0%;

    height: 16px; width: 16px;
    height: var(--tile); width: var(--tile);
    display: flex; align-items: center; justify-content: center;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    border-radius: 50%;
}
:where([id="grid-01"],[id="grid-02"]) .row:nth-child(2n+1) .tile:nth-child(2n)::before {
transform: translateX(-50%) translateY(-50%) rotate(45deg);
transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
:where([id="grid-01"],[id="grid-02"]) .row:nth-child(2n+1) .tile:nth-child(2n)::before {
transform: translateX(-50%) translateY(-50%) rotate(135deg);
transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.centerTile, 
.row:nth-child(2) .tile:nth-child(2n) {
    --tile-sz: var(--center);
    border-radius: 50%;
    z-index: 2;
}
.centerTile::before, 
.row:nth-child(2) .tile:nth-child(2n)::before {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    height: 50px; width: 50px;
    height: var(--center); width: var(--center);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    
    background-color: #0f01;
    border: 1px dashed #0f0;

    z-index: 2;
}

.tile[data-char]::before {
    content: attr(data-char);
    position: absolute;
    top: 50%; left: 50%;
    height: var(--tile-sz); width: var(--tile-sz);
    transform: translateX(-50%) translateY(-50%);
    display: flex; align-items: center; justify-content: center;
    color: #000c;
}