/* Iteration */
*:nth-of-type(1) {--i: 1;}
*:nth-of-type(2) {--i: 2;}
*:nth-of-type(3) {--i: 3;}
*:nth-of-type(4) {--i: 4;}
*:nth-of-type(5) {--i: 5;}
*:nth-of-type(6) {--i: 6;}
*:nth-of-type(7) {--i: 7;}
*:nth-of-type(8) {--i: 8;}
*:nth-of-type(9) {--i: 9;}
*:nth-of-type(10) {--i: 10;}
*:nth-of-type(11) {--i: 11;}
*:nth-of-type(12) {--i: 12;}
*:nth-of-type(13) {--i: 13;}
*:nth-of-type(14) {--i: 14;}
*:nth-of-type(15) {--i: 15;}
*:nth-of-type(16) {--i: 16;}
*:nth-of-type(17) {--i: 17;}
*:nth-of-type(18) {--i: 18;}
*:nth-of-type(19) {--i: 19;}
*:nth-of-type(20) {--i: 20;}
*:nth-of-type(21) {--i: 21;}
*:nth-of-type(22) {--i: 22;}
*:nth-of-type(23) {--i: 23;}
*:nth-of-type(24) {--i: 24;}
*:nth-of-type(25) {--i: 25;}
*:nth-of-type(26) {--i: 26;}
*:nth-of-type(27) {--i: 27;}
*:nth-of-type(28) {--i: 28;}
*:nth-of-type(29) {--i: 29;}
*:nth-of-type(30) {--i: 30;}
*:nth-of-type(31) {--i: 31;}
*:nth-of-type(32) {--i: 32;}
*:nth-of-type(33) {--i: 33;}
*:nth-of-type(34) {--i: 34;}
*:nth-of-type(35) {--i: 35;}
*:nth-of-type(36) {--i: 36;}
*:nth-of-type(37) {--i: 37;}
*:nth-of-type(38) {--i: 38;}
*:nth-of-type(39) {--i: 39;}
*:nth-of-type(40) {--i: 40;}
*:nth-of-type(41) {--i: 41;}
*:nth-of-type(42) {--i: 42;}
*:nth-of-type(43) {--i: 43;}
*:nth-of-type(44) {--i: 44;}
*:nth-of-type(45) {--i: 45;}
*:nth-of-type(46) {--i: 46;}
*:nth-of-type(47) {--i: 47;}
*:nth-of-type(48) {--i: 48;}
*:nth-of-type(49) {--i: 49;}
*:nth-of-type(50) {--i: 50;}
*:nth-of-type(51) {--i: 51;}
*:nth-of-type(52) {--i: 52;}
*:nth-of-type(53) {--i: 53;}
*:nth-of-type(54) {--i: 54;}
*:nth-of-type(55) {--i: 55;}
*:nth-of-type(56) {--i: 56;}
*:nth-of-type(57) {--i: 57;}
*:nth-of-type(58) {--i: 58;}
*:nth-of-type(59) {--i: 59;}
*:nth-of-type(60) {--i: 60;}
*:nth-of-type(61) {--i: 61;}
*:nth-of-type(62) {--i: 62;}
*:nth-of-type(63) {--i: 63;}
*:nth-of-type(64) {--i: 64;}
*:nth-of-type(65) {--i: 65;}
*:nth-of-type(66) {--i: 66;}
*:nth-of-type(67) {--i: 67;}
*:nth-of-type(68) {--i: 68;}
*:nth-of-type(69) {--i: 69;}
*:nth-of-type(70) {--i: 70;}
*:nth-of-type(71) {--i: 71;}
*:nth-of-type(72) {--i: 72;}
*:nth-of-type(73) {--i: 73;}
*:nth-of-type(74) {--i: 74;}
*:nth-of-type(75) {--i: 75;}
*:nth-of-type(76) {--i: 76;}
*:nth-of-type(77) {--i: 77;}
*:nth-of-type(78) {--i: 78;}
*:nth-of-type(79) {--i: 79;}
*:nth-of-type(80) {--i: 80;}
*:nth-of-type(81) {--i: 81;}
*:nth-of-type(82) {--i: 82;}
*:nth-of-type(83) {--i: 83;}
*:nth-of-type(84) {--i: 84;}
*:nth-of-type(85) {--i: 85;}
*:nth-of-type(86) {--i: 86;}
*:nth-of-type(87) {--i: 87;}
*:nth-of-type(88) {--i: 88;}
*:nth-of-type(89) {--i: 89;}
*:nth-of-type(90) {--i: 90;}
*:nth-of-type(91) {--i: 91;}
*:nth-of-type(92) {--i: 92;}
*:nth-of-type(93) {--i: 93;}
*:nth-of-type(94) {--i: 94;}
*:nth-of-type(95) {--i: 95;}
*:nth-of-type(96) {--i: 96;}
*:nth-of-type(97) {--i: 97;}
*:nth-of-type(98) {--i: 98;}
*:nth-of-type(99) {--i: 99;}
*:nth-of-type(100) {--i: 100;}